﻿
@model StoreOnlineV1.Models.Feedback
@{
    ViewData["Title"] = "About page";
}
<div class="chir_main">
    <div class="columns-container account-customer">
        <div class="container" id="columns">
            <div class="row clearfix">
                <div id="layout-page" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="reg-shop">
                        <span class="account-ver-title">
                            <h2>Thông tin phản hồi</h2>
                            <br>
                        </span>
                        <div class="userbox">
                            <form accept-charset='UTF-8' asp-action="Feedback" method='post'>
                                <ul class="form-list row">
                                    <li class="col-sm-10 col-xs-12">
                                        <div class="customer-name">
                                            <input name='FormType' type='hidden' value='customer_register' />
                                            <input name='utf8' type='hidden' value='true' />
                                            <div class="input-box">
                                                <label> Tên tài khoản  </label>
                                                <span class="not-null">*</span>
                                                <input required type="text" value='@ViewBag.UserInfo.UserName' />
                                            </div>
                                            <div class="input-box">
                                                <label> Họ tên </label>
                                                <span class="not-null">*</span>
                                                <input type="text" asp-for="Name" value='@ViewBag.UserInfo.Name' />
                                            </div>
                                            <div class="input-box">
                                                <label> Số điện thoại  </label>
                                                <span class="not-null">*</span>
                                                <input required type="text" asp-for="Phone" value='@ViewBag.UserInfo.Phone' />
                                            </div>
                                            <div class="input-box">
                                                <label> Email  </label>
                                                <span class="not-null">*</span>
                                                <input required type="text" asp-for="Email" value='@ViewBag.UserInfo.Email' />
                                            </div>
                                            <div class="input-box">
                                                <label> Địa chỉ  </label>
                                                <span class="not-null">*</span>
                                                <input required type="text" asp-for="Address" value='@ViewBag.UserInfo.Address' />
                                            </div>
                                            <div class="input-box">
                                                <label> Nội dung phản hồi  </label>
                                                <span class="not-null">*</span>
                                                <input required type="text" asp-for="Content" title="Nội dung phản hồi" class="input-text"></input>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="buttons-set">
                                    <button class="button button-3d button-black nomargin" type='submit'>Gửi đi</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>