﻿@model StoreOnlineV1.Models.Product
@{
    ViewData["Title"] = "Deatil product page";
}

<div class="chir_main">
    <div id="mango-product">
        <div class="breadcrumb-box">
            <div class="container">
                <div class="row">
                    <style>
                        .chir_breadcrumb ul li {
                            display: inline-block;
                            padding: 10px 0px;
                        }

                            .chir_breadcrumb ul li strong {
                                font-family: 'brandon_textregular' !important;
                            }
                    </style>
                    <div class="chir_breadcrumb  hidden-xs">
                        <div class="container">
                            <ul itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                                <li class="home"> <a itemprop="url" title="Quay lại trang chủ" asp-controller="Home" asp-action="Index"><span itemprop="title">Trang chủ</span></a><span>&mdash;&rsaquo;</span></li>
                                <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                                    <a itemprop="url" asp-controller="Products" asp-action="Index" asp-route-categoryId="-1"><span itemprop="title">Products</span>&mdash;&rsaquo;</a>
                                </li>
                                <li><strong>@ViewBag.Products.Name</strong>
                                <li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box_collection">
            <div class="container">
                <div class="information-blocks bg_w">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 information-entry">
                            <div class="product-preview-box relative">
                                <div class="swiper-feature text-center">
                                    <img class="product-image-feature" src="@ViewBag.Products.Image" alt="@ViewBag.Products.Name">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 information-entry">
                            <div class="product-detail-box">
                                <h3 class="product-subtitle"></h3>
                                <h1 class="product-title">@ViewBag.Products.Name</h1>
                                <span class="sku"><strong>Mã sản phẩm:</strong> @ViewBag.Products.Code</span>
                                <div class="row">
                                    <div class="col-sm-5 col-xs-5 left_box">
                                        <div class="price detail-info-entry">
                                            <div class="current"> @((Convert.ToDecimal(@ViewBag.Products.PromotionPrice) - (Convert.ToDecimal(@ViewBag.Products.PromotionPrice) * (Convert.ToDecimal(@ViewBag.Products.Discount)/100))).ToString("n0")) VND</div>
                                        </div>
                                        <div class="quantity-selector detail-info-entry">
                                            <div class="detail-info-entry-title">Số lượng</div>
                                            <div class="entry number-minus">&nbsp;</div>
                                            <div class="entry number">1</div>
                                            <div class="entry number-plus">&nbsp;</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-7 col-xs-7 right_box text-left">
                                        <div class="pd_policy">
                                            <h3>Dịch vụ của chúng tôi</h3>
                                            <p class="serv-1">Giao tận nhà trong 1-3 ngày làm việc <br><span>(áp dụng cho đơn hàng > 3 sản phẩm)</span></p>
                                            <p class="serv-2">Cam kết nếu hình không đúng thực tế , bạn nhận ngay coupon mua hàng trị giá 2.000.000đ tại hệ thống siêu thị Big C.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="detail-info-entry pd_action">
                                    @if (@ViewBag.Products.Quantity > 0 && @ViewBag.Products.Quantity != null)
                                    {
                                        <a id="btn-addCart" onclick="return addToCart(@ViewBag.Products.Id);" class="button btn-outline ">Thêm vào giỏ</a>
                                        <a asp-controller="Card" asp-action="AddToCart" asp-route-productid="@ViewBag.Products.Id" class="button btn-outline btn-buyNow ">Mua ngay</a>
                                    }
                                    <div class="clear"></div>
                                </div>
                                <div class="pd_saler">
                                    <h3>Dịch vụ & Khuyến mãi</h3>
                                    <p>
                                        Nhập mã 2V6WSHFW khi thanh toán, giảm ngay 100.000đ.
                                    </p>
                                    <p>
                                        Tặng mã coupon giảm 300.000đ khi đơn hàng trên 5 triệu đồng.
                                    </p>
                                    <p>
                                        Giao hàng miễn phí đối với đơn hàng trên 5 triệu trong nội thành Tp. Hồ Chí Minh
                                    </p>
                                    <p>
                                        Giảm ngay 20% đối với những sản phẩm thuộc nhóm Ghế sofa
                                    </p>
                                </div>
                                <div class="product_socaial">
                                    <div class="box_social">
                                        <div class="fb">
                                            <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                                        </div>
                                        <div class="gg">
                                            <div class="g-plus" data-action="share" data-annotation="none" data-href=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="information-blocks">
                    <div class="tabs-container style-1">
                        <div class="swiper-tabs description">
                            <div class="title_chir">
                                <h2>
                                    Chi tiết sản phẩm
                                </h2>
                            </div>
                            <div class="content-text bg_w">
                                @Html.Raw(@ViewBag.Products.Detail)
                            </div>
                        </div>
                    </div>
                    <div class="information-blocks related_product">
                        <div class="tabs-container style-1">
                            <div class="title_chir">
                                <h2>
                                    Sản phẩm cùng danh mục
                                </h2>
                            </div>
                            <div>
                                <div class="tabs-entry">
                                    <div class="article-container style-1">
                                        <div class="content-related-product product_tabs_slide_first owl_design ">
                                            @foreach (var itemProduct in ViewBag.AllProductsWithCategory)
                                            {
                                                <li class="item_product">
                                                    <div class="chir_loop loop_item insScroll">
                                                        <div class="chir-img">
                                                            @if (itemProduct.Quantity != null && itemProduct.Quantity > 0)
                                                            {
                                                                if (itemProduct.Discount != null && itemProduct.Discount > 0)
                                                                {
                                                                    <div class="sale">
                                                                        Giảm @itemProduct.Discount%
                                                                    </div>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <div class="sold">
                                                                    Hết hàng
                                                                </div>
                                                                if (itemProduct.Discount != null && itemProduct.Discount > 0)
                                                                {
                                                                    <div class="sale">
                                                                        Giảm @itemProduct.Discount%
                                                                    </div>
                                                                }
                                                            }
                                                            <a asp-controller="DetailProducts" asp-action="Index" asp-route-idProduct="@itemProduct.Id" title="">
                                                                <picture>
                                                                    <img srcset="@itemProduct.Image" alt="">
                                                                </picture>
                                                            </a>
                                                            <div class="chi-action">
                                                                @if (ViewData["Success"] != null)
                                                                {
                                                                    <p class="alert alert-success" id="successMessage">@ViewData["Success"]</p>
                                                                }
                                                                <a asp-controller="DetailProducts" asp-action="Index" asp-route-idProduct="@itemProduct.Id" class="view_product"><img src="images/eye_w.png" alt="Xem chi tiết" title="Xem chi tiết" /></a>
                                                                @if (itemProduct.Quantity != null && itemProduct.Quantity > 0)
                                                                {
                                                                    <a asp-controller="Card" asp-action="AddToCart" asp-route-productid="@itemProduct.Id" class="add-cart design_cart Addcart">
                                                                        <img src="images/cart_w.png" alt="Thêm vào giỏ" title="Thêm vào giỏ" />
                                                                    </a>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="product-detail clearfix">
                                                            <h3 class="pro-name"><a asp-controller="DetailProducts" asp-action="Index" asp-route-idProduct="@itemProduct.Id" title="@itemProduct.Name">@itemProduct.Name</a></h3>
                                                            <p class="pro-price">
                                                                @((Convert.ToDecimal(itemProduct.PromotionPrice) - (Convert.ToDecimal(itemProduct.PromotionPrice) * (Convert.ToDecimal(itemProduct.Discount)/100))).ToString("n0")) VND
                                                                @if (itemProduct.Discount != null && itemProduct.Discount > 0)
                                                                {
                                                                    <del class="compare-price"> @(itemProduct.PromotionPrice.ToString("n0")) VND</del>
                                                                }
                                                            </p>
                                                            <div class="product_view_list">
                                                                <ul>
                                                                    <li>Mã sản phẩm: <span>@itemProduct.Code</span></li>
                                                                    <li>
                                                                        Mô tả ngắn:
                                                                        <span class="short-des">
                                                                            @itemProduct.Desciption
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function addToCart(idProduct) {
            var quantity = $(this).attr("#quantityProduct");
            var quantity = $("div.entry.number").text();
            if (quantity != null && quantity > 0) {
                var data = { "Quantity": quantity, "ProductId": idProduct };
                $.post("/Card/AddToCart", data,
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        alert("Thêm giỏ hàng thành công!");
                    });
            }
        }

        $(".product-thumb").first().addClass('active');
        $(document).ready(function () {
            jQuery('.slide_thumb_img').owlCarousel({
                items: 5,
                loop: false,
                autoplay: false,
                margin: 0,
                responsiveClass: true,
                nav: true,
                navText: ['‹', '›'],
                responsive: {
                    0: {
                        items: 3
                    },
                    319: {
                        items: 3
                    },
                    480: {
                        items: 5
                    },
                    768: {
                        items: 6
                    },
                    992: {
                        items: 4
                    },
                    1200: {
                        items: 5
                    }
                }
            })
            jQuery('.content-related-product').owlCarousel({
                items: 5,
                loop: false,
                autoplay: false,
                margin: 0,
                responsiveClass: true,
                nav: true,
                navText: ['‹', '›'],
                responsive: {
                    0: {
                        items: 1,
                        margin: 0,
                    },
                    320: {
                        items: 2,
                        margin: 0,
                    },
                    768: {
                        items: 3
                    },
                    992: {
                        items: 4
                    },
                    1200: {
                        items: 5
                    }
                }
            })
        })
        $(document).on('click', '.quantity-selector .entry', function () {
            var _qty = parseInt($('.quantity-selector .entry.number').text());
            if ($(this).hasClass('number-minus')) {
                if (_qty > 1) {
                    $('.quantity-selector .entry.number').html(_qty - 1);
                }
            } else {
                $('.quantity-selector .entry.number').html(_qty + 1);
            }
        })</script>

    <script>$(document).ready(function () {
            setTimeout(function () {
                $('.swatch .select-swap .swatch-element:first-child input').trigger('click');
            }, 200)
            if ($(window).width() > 1024) {
                jQuery(".product-image-feature").elevateZoom({
                    scrollZoom: true,
                    easing: true
                });
            }
        })</script>
</div>