@model StoreOnlineV1.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Sản phẩm</h1>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="form-row">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Code" class="control-label"></label>
                            <input asp-for="Code" class="form-control" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="form-row">
                        <div class="form-group ">
                            <label asp-for="TrademarkID" class="control-label"></label>
                            <select class="custom-select mr-sm-2 form-control" asp-for="TrademarkID" asp-items="ViewBag.ListTrademark"></select>
                            <span asp-validation-for="TrademarkID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryID" class="control-label"></label>
                            <select class="custom-select mr-sm-2 form-control" asp-for="CategoryID" asp-items="ViewBag.ListCategories"></select>
                            <span asp-validation-for="CategoryID" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="PromotionPrice" class="control-label"></label>
                    <input asp-for="PromotionPrice" class="form-control" />
                    <span asp-validation-for="PromotionPrice" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="form-group col-md-6">
                        <label asp-for="Discount" class="control-label"></label>
                        <input asp-for="Discount" class="form-control" />
                        <span asp-validation-for="Discount" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Warranty" class="control-label"></label>
                        <input asp-for="Warranty" class="form-control" />
                        <span asp-validation-for="Warranty" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check col-md-6">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IncludedVAT" /> @Html.DisplayNameFor(model => model.IncludedVAT)
                        </label>
                    </div>
                    <div class="form-group form-check col-md-6">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <input asp-for="Image" class="form-control" type="hidden" />
                        <input asp-for="Image" class="form-control" type="file" id="textimage" />
                        <img style="width:200px;height:200px;" src="@Html.DisplayFor(model => model.Image)" id="preview_image" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Desciption" class="control-label"></label>
                <input asp-for="Desciption" class="form-control" />
                <span asp-validation-for="Desciption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detail" class="control-label"></label>
                <textarea asp-for="Detail" class="form-control" id="txtDetail"></textarea>
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="CreateBy" class="form-control" />
                <input type="hidden" asp-for="CreateDate" class="form-control" />
                <input type="hidden" asp-for="Status" class="form-control" />
                <input type="hidden" asp-for="ViewCount" class="form-control" />
                <input type="hidden" asp-for="Quantity" class="form-control" />
                <input type="hidden" asp-for="Warranty" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở về</a>
</div>

@section Scripts {
    <script src="~/assets/admin/js/controller/productControler.js"></script>
    <script src="~/assets/admin/js/plugin/ckeditor/ckeditor.js"></script>
    <script src="~/assets/admin/js/plugin/ckeditor/adapters/jquery.js"></script>
    <script>CKEDITOR.replace('txtDetail');
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#preview_image').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        $("#textimage").change(function () {
            readURL(this);
        });</script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}