@model ReportViewModel
@{
    ViewData["Title"] = "Bar Chart";
}

<div class="box-body">
    <div class="chart-container">
        <form>
            <div>
                Thống kê từ ngày: <input asp-for="StartTime" type="date" id="StartTime">  đến ngày  <input asp-for="EndTime" type="date" id="EndTime">
                <button style="height:30px" type='submit'>Thống kê</button>
            </div>
        </form>
        <br />
        <div id="tongdoanhthu">Tổng doanh thu: @Convert.ToDecimal(ViewData["Total"]).ToString("n0") VND</div>
        <div>Tổng số đơn đặt hàng: @ViewData["TotalOrder"] </div>
        <div>Tổng tiền hàng nhập: @Convert.ToDecimal(@ViewData["TotalImport"]).ToString("n0") VND </div>
        <div>Doanh thu: @Convert.ToDecimal(@ViewData["TotalRevenue"]).ToString("n0") VND </div>
        <div id="columnchart_values" style="width: 900px; height: 300px;"></div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        let now = new Date();
        function convertDate(date) {
            var d = new Date(date);
            let day = d.getDate();
            let m = d.getMonth() + 1;
            let y = d.getFullYear();
            var time = `${y}-${m}-${day}`;
            return date ? time : "";
        }

        var days = 7; // Days you want to subtract
        var last = new Date(now.getTime() - (days * 24 * 60 * 60 * 1000));
        var day = last.getDate();
        var month = last.getMonth() + 1;
        var year = last.getFullYear();

        document.getElementById('StartTime').value = `${year}-${month}-${day}`;
        document.getElementById('EndTime').value = convertDate(now);

    });</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
           var data = new google.visualization.DataTable();
            data.addColumn('string', 'Sản phẩm');
            data.addColumn('number', 'Số lượng');
                    data.addRows([
                          @foreach (var e in ViewBag.listModelNew)
                          {<text>[ "@e.Name",@e.Quantity],</text>}
                        ]);


            var options = {

            };
            var chart = new google.visualization.ColumnChart(document.getElementById('columnchart_values'));

            chart.draw(data, options);

        };


</script>