﻿@{
    ViewData["Title"] = "Sản phẩm";
}
<div class="chir_main">
    <section id="chir_collection">
        <style>
            .chir_breadcrumb ul li {
                display: inline-block;
                padding: 10px 0px;
            }

                .chir_breadcrumb ul li strong {
                    font-family: 'brandon_textregular' !important;
                }
        </style>
        <div class="chir_breadcrumb  hidden-xs">
            <div class="container">
                <ul itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <li class="home"> <a itemprop="url" title="Quay lại trang chủ" href="/"><span itemprop="title">Trang chủ</span></a><span>&mdash;&rsaquo;</span></li>
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><strong itemprop="title"> @ViewData["CategoryName"]</strong></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="main ">
                <div class="row">
                    <!-- Left colunm -->
                    <div class="column hidden-xs col-sm-4 col-md-3" id="left_column">
                        <div class="box_sidebar">
                            <div class="block left-module hidden-xs">
                                <p class="title_block">Danh mục sản phẩm <i class="visible-xs fa fa-angle-down" aria-hidden="true"></i></p>
                                <div class="block_content">
                                    <!-- layered -->
                                    <div class="layered layered-category">
                                        <div class="layered-content">
                                            <ul class="tree-menu">
                                                <li class=" has-child">
                                                    <span></span>
                                                    <a class="dropdown-toggle has-category parent " asp-controller="Products" asp-action="Index" asp-route-idCategory="-1" title="Tất cả sản phẩm" target="_self">
                                                        <span class="">Tất cả sản phẩm</span>
                                                    </a>
                                                </li>
                                                @foreach (var itemCategory in ViewBag.allCategory)
                                                {
                                                    <li class=" has-child">
                                                        <span></span>
                                                        <a class="dropdown-toggle has-category parent " asp-controller="Products" asp-action="Index" asp-route-idCategory="@itemCategory.Id" title="@itemCategory.Name" target="_self">
                                                            <span class="">@itemCategory.Name</span>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- ./layered -->
                                </div>
                            </div>
                            <div clalockss="b left-module">
                                <p class="title_block">Sản phẩm nổi bật</p>
                                <div class="block_content">
                                    <div class="insBestColl">
                                        <ul class="product-list">
                                            @foreach (var itemProduct in ViewBag.allProductHost)
                                            {
                                            <li class="item_product">
                                                <div class="chir_loop loop_item insScroll">
                                                    <div class="chir-img">
                                                        @if (itemProduct.Quantity != null && itemProduct.Quantity > 0)
                                                        {
                                                            if (itemProduct.Discount != null && itemProduct.Discount > 0)
                                                            {
                                                                <div class="sale">
                                                                    Giảm @itemProduct.Discount%
                                                                </div>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <div class="sold">
                                                                Hết hàng
                                                            </div>
                                                            if (itemProduct.Discount != null && itemProduct.Discount > 0)
                                                            {
                                                                <div class="sale">
                                                                    Giảm @itemProduct.Discount%
                                                                </div>
                                                            }
                                                        }
                                                        <a asp-controller="DetailProducts" asp-action="Index" asp-route-idProduct="@itemProduct.Id" title="">
                                                            <picture>
                                                                <img srcset="@itemProduct.Image" style="height:200px" alt="">
                                                            </picture>
                                                        </a>
                                                        <div class="chi-action">
                                                            <a asp-controller="DetailProducts" asp-action="Index" asp-route-idProduct="@itemProduct.Id" class="view_product"><img src="images/eye_w.png" alt="Xem chi tiết" title="Xem chi tiết" /></a>
                                                            @if (itemProduct.Quantity != null && itemProduct.Quantity > 0)
                                                            {
                                                                <a asp-controller="Card" asp-action="AddToCart" asp-route-productid="@itemProduct.Id" class="add-cart design_cart Addcart"><img src="images/cart_w.png" alt="Thêm vào giỏ" title="Thêm vào giỏ" /></a>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="product-detail clearfix">
                                                        <h3 class="pro-name"><a asp-controller="DetailProducts" asp-action="Index" asp-route-idProduct="@itemProduct.Id" title="@itemProduct.Name">@itemProduct.Name</a></h3>
                                                        <p class="pro-price">
                                                            @((Convert.ToDecimal(itemProduct.PromotionPrice) - (Convert.ToDecimal(itemProduct.PromotionPrice) * (Convert.ToDecimal(itemProduct.Discount)/100))).ToString("n0")) VND
                                                            @if (itemProduct.Discount != null && itemProduct.Discount > 0)
                                                            {
                                                                <del class="compare-price"> @(itemProduct.PromotionPrice.ToString("n0")) VND</del>
                                                            }
                                                        </p>
                                                        <div class="product_view_list">
                                                            <ul>
                                                                <li>Mã sản phẩm: <span>@itemProduct.Code</span></li>
                                                                <li>
                                                                    Mô tả ngắn:
                                                                    <span class="short-des">
                                                                        @itemProduct.Desciption
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./left colunm -->
                    <div class="center_column col-xs-12 col-sm-8 col-md-9 product-col" id="center_column">
                        <!-- view-product-list-->
                        <div id="view-product-list" class="view-product-list">
                            <div class="collection_head relative">
                                <div class="page_head">
                                    <h1 class="collection_title ins_title">
                                        @ViewData["CategoryName"]
                                    </h1>
                                </div>
                                <ul class="display-product-option">
                                    <li class="view-as-grid selected" data-view="view_grid">
                                        <span>grid</span>
                                    </li>
                                </ul>
                                <div class="browse-tags">
                                    <div id="sort-by" class="">
                                        <label class="left">Sắp xếp: </label>
                                        <ul>
                                            <li>
                                                <span class="sortText">A &rarr; Z </span><span class="right-arrow"></span>
                                                <ul>
                                                    <li><a asp-action="Index" asp-route-sortby="alpha-asc">A &rarr; Z</a></li>
                                                    <li><a asp-action="Index" asp-route-sortby="alpha-desc">Z &rarr; A</a></li>
                                                    <li><a asp-action="Index" asp-route-sortby="price-asc">Giá tăng dần</a></li>
                                                    <li><a asp-action="Index" asp-route-sortby="price-desc">Giá giảm dần</a></li>
                                                    <li><a asp-action="Index" asp-route-sortby="created-desc">Hàng mới nhất</a></li>
                                                    <li><a asp-action="Index" asp-route-sortby="created-asc">Hàng cũ nhất</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- PRODUCT LIST -->
                            <div id="pd_collection">
                                <ul class="product-list filter products row">
                                    @foreach (var itemProduct in ViewBag.AllProducts)
                                    {
                                    <li class="item_product col-md-4 col-sm-6 col-xs-6">
                                        <div class="chir_loop loop_item insScroll">
                                            <div class="chir-img">
                                                @if (itemProduct.Quantity != null && itemProduct.Quantity > 0)
                                                {
                                                    if (itemProduct.Discount != null && itemProduct.Discount > 0)
                                                    {
                                                        <div class="sale">
                                                            Giảm @itemProduct.Discount%
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="sold">
                                                        Hết hàng
                                                    </div>
                                                    if (itemProduct.Discount != null && itemProduct.Discount > 0)
                                                    {
                                                        <div class="sale">
                                                            Giảm @itemProduct.Discount%
                                                        </div>
                                                    }
                                                }
                                                <a asp-controller="DetailProducts" asp-action="Index" asp-route-idProduct="@itemProduct.Id" title="">
                                                    <picture>
                                                        <img srcset="@itemProduct.Image" style="height:200px" alt="">
                                                    </picture>
                                                </a>
                                                <div class="chi-action">
                                                    <a asp-controller="DetailProducts" asp-action="Index" asp-route-idProduct="@itemProduct.Id" class="view_product"><img src="images/eye_w.png" alt="Xem chi tiết" title="Xem chi tiết" /></a>
                                                    @if (itemProduct.Quantity != null && itemProduct.Quantity > 0)
                                                    {
                                                        <a asp-controller="Card" asp-action="AddToCart" asp-route-productid="@itemProduct.Id" class="add-cart design_cart Addcart"><img src="images/cart_w.png" alt="Thêm vào giỏ" title="Thêm vào giỏ" /></a>
                                                    }
                                                </div>
                                            </div>
                                            <div class="product-detail clearfix">
                                                <h3 class="pro-name"><a asp-controller="DetailProducts" asp-action="Index" asp-route-idProduct="@itemProduct.Id" title="@itemProduct.Name">@itemProduct.Name</a></h3>
                                                <p class="pro-price">
                                                    @((Convert.ToDecimal(itemProduct.PromotionPrice) - (Convert.ToDecimal(itemProduct.PromotionPrice) * (Convert.ToDecimal(itemProduct.Discount)/100))).ToString("n0")) VND
                                                    @if (itemProduct.Discount != null && itemProduct.Discount > 0)
                                                    {
                                                        <del class="compare-price"> @(itemProduct.PromotionPrice.ToString("n0")) VND</del>
                                                    }
                                                </p>
                                                <div class="product_view_list">
                                                    <ul>
                                                        <li>Mã sản phẩm: <span>@itemProduct.Code</span></li>
                                                        <li>
                                                            Mô tả ngắn:
                                                            <span class="short-des">
                                                                @itemProduct.Desciption
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <input type="text" class="hidden" id="coll-handle" value="(collectionid:product=943742)" />
    <div class="overlay_chir filter visible-sm visible-xs"></div>
    
    <input id="collection_id" value="943742" type="hidden" />
    <script>
        $(window).load(function () {
            var sort = window.location.search;
            if (sort != '' && sort != null) {
                $('#sort-by span.sortText').text($('#sort-by li li a[href="' + sort + '"]').text());
            }
        })
    </script>
</div>
