﻿@model StoreOnlineV1.Models.PayViewModel

@{
    ViewData["Title"] = "Card page";
}
<div class="chir_main">
    <style>
        h1.title-box-login {
            text-align: center;
            font-size: 16px;
            color: #666666;
            text-transform: uppercase;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .liner-or {
            width: 100%;
            position: relative;
            border-bottom: 1px solid #dfdfdf;
        }

            .liner-or span {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: -13px;
                background: #fff;
                display: inline-block;
                padding: 5px;
                color: #999999;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                text-align: center;
            }

        .content-cus-form {
            width: 410px;
            margin: 0 auto;
        }

        .col_full {
            display: block;
            position: relative;
        }

        .content-cus-form .col_full > input {
            border: 1px solid #cccccc;
            height: 40px;
            border-radius: 0;
            font-weight: normal;
            padding-top: 0;
            padding-bottom: 0;
            outline: none !important;
            box-shadow: none !important;
            padding-left: 42px !important;
            width: 100%;
            margin-bottom: 15px !important;
        }

        .not-null {
            position: absolute;
            top: 10px;
            right: 5px;
            color: #ed1846;
            font-size: 20px;
            z-index: 1;
        }

        .icon_checkout {
            background: url('images/icon-checkout.png') 0 0 no-repeat;
            background-size: 300px;
            width: 22px;
            height: 22px;
            display: inline-block;
            position: absolute;
            top: 9px;
            left: 12px;
        }

            .icon_checkout.ico-email {
                background-position: 0 -44px;
            }

            .icon_checkout.ico-pass {
                background-position: 0 -154px;
            }

            .icon_checkout.ico-name {
                background-position: 0 -22px;
            }

            .icon_checkout.ico-repass {
                background-position: 0 -180px;
            }

        .require_symbol {
            color: red !important;
            display: none;
        }

        .content-cus-form .col_full.action {
            text-align: center;
        }

        .content-cus-form .col_full > button {
            width: 100%;
            margin-bottom: 20px !important;
            display: block;
            height: 40px;
            border: 1px solid #6f6a60;
            background: transparent;
            color: #6f6a60;
            -webkit-transition: all 300ms ease-in-out;
            -moz-transition: all 300ms ease-in-out;
            -ms-transition: all 300ms ease-in-out;
            -o-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
        }

            .content-cus-form .col_full > button:hover {
                border: 1px solid #00a651;
                background: #00a651;
                color: #fff;
            }

        .content-cus-form .col_full.action a {
            font-weight: bold;
            text-decoration: underline !important;
        }

        .content-cus-form .col_full > button.cancel {
            width: auto;
            background: transparent !important;
            border: none !important;
            color: #666;
            text-transform: none;
            text-shadow: none;
            font-weight: bold;
            margin: 0 !important;
            float: none !important;
            display: inline-block;
            padding: 0;
            font-size: 14px;
            text-decoration: underline;
        }

        span.repassword_warning {
            position: absolute;
            top: -16px;
            font-size: 12px;
        }

        #recover-password .acctitle i {
            font-weight: normal;
            margin-right: 5px;
            font-size: 14px;
            line-height: 40px;
        }

        #recover-password .col_full label {
            font-weight: normal;
            font-size: 15px;
            margin-bottom: 10px;
        }

        .errors li {
            display: block;
            font-size: 15px;
            font-style: italic;
            margin-bottom: 10px !important;
            color: #d34836;
        }
    </style>
    <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            margin: 0;
        }

        .cart {
            padding: 0px 0px 15px;
        }

        .button {
            padding: 10px 20px;
            border: 1px solid #00a651;
            outline: none;
        }

        a.button.remove-item {
            color: #00a651 !important;
            border: none;
            display: inline-block;
            padding: 0;
            background: transparent;
            font-size: 12px;
        }

        .table-responsive * {
            max-width: 100%;
        }

        .cart-empty {
            font-size: 16px;
            font-weight: bold;
            font-style: italic;
            margin-bottom: 15px;
        }

        .img-empty {
            padding: 20px 0px;
        }

            .img-empty img {
                max-width: 150px;
            }

        .product-name a {
            font-size: 15px;
        }

        .back-to-col a {
            padding: 10px 30px;
            background: #00a651;
            color: #fff;
            border-color: transparent;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: box-shadow 300ms 0s ease;
            display: inline-block;
        }

            .back-to-col a:hover {
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
                color: #fff;
            }

        .cart .data-table thead tr > th {
            min-width: 100px;
            text-align: center;
        }

        .remove-item i {
            display: none;
        }

        .cart > .page-title {
            border-bottom: 1px solid #00a651;
            margin-bottom: 20px
        }

        .cart .page-title > h2 {
            font-size: 25px;
            margin: 20px 0 0;
            display: inline-block;
            padding-bottom: 5px;
            color: #00a651;
            ;
            border-bottom: 3px solid #00a651;
        }

        .cart .data-table tbody td {
            vertical-align: middle;
            padding: 10px
        }

            .cart .data-table tbody td.tdQty {
                min-width: 100px;
            }

        .cart button.button.btn-continue {
            background: transparent;
            color: #00a651;
            border-color: #00a651;
        }

        .a-right input.btn-update {
            background: transparent;
            color: #00a651;
            border-color: #00a651;
        }

            .cart button.button.btn-continue:hover, .a-right input.btn-update:hover {
                background: #00a651;
                color: #fff
            }

        .cart button.button.btn-proceed-checkout {
            width: 100%;
            height: 45px;
            font-size: 18px;
            background: #00a651;
            color: #fff;
            border: 1px solid #00a651;
        }

            .cart button.button.btn-proceed-checkout:hover {
                background: transparent;
                color: #00a651 !important;
            }

        .groupQty {
            width: 95px;
            background: #eee;
        }

            .groupQty .qtyControl {
                display: inline-block;
                width: 20px;
                height: 30px;
                line-height: 30px;
                background: #eee;
                border: none;
                padding: 0;
            }

        input.input-text {
            width: 40px;
            margin: 0 auto;
            border: 3px solid #eee;
            height: 30px;
            text-align: center;
            padding: 0;
        }

            input.input-text:focus {
                border: 3px solid #eee;
            }

        .button:hover {
            background: #00a651;
            ;
            border: 1px solid #00a651;
            ;
            color: #fff !important;
        }

        .pd_saler h3 {
            font-family: 'brandon_textregular' !important;
            font-size: 17px;
            color: #5a5a5a;
            padding-bottom: 5px;
            border-bottom: 1px solid #eaeaea;
            margin-bottom: 10px;
        }

        h2.product-name {
            font-size: 13px;
        }

        td.image .product-image img {
            max-width: 50px;
        }

        .product-name a {
            white-space: normal;
        }
    </style>
    <section class="main-container col1-layout" id="ins_cart">
        <div class="main container">
            <div class="col-main">
                <div class="cart">
                    <div class="page-title">
                        <h2>Giỏ hàng</h2>
                    </div>
                    <div class="insCartTemp" id='detailProduct'>
                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-12 colCart left">
                                <div class="table-responsive">
                                    <table class="data-table cart-table table" id="shopping-cart-table">
                                        <thead>
                                            <tr class="first last">
                                                <th rowspan="1">&nbsp;</th>
                                                <th rowspan="1"><span class="nobr">Tên sản phẩm</span></th>
                                                <th colspan="1" class="a-center hidden-xs"><span class="nobr">Giá</span></th>
                                                <th class="a-center" rowspan="1">Số lượng</th>
                                                <th colspan="1" class="a-center hidden-xs">Thành tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var itemCart in ViewBag.allCart)
                                            {
                                                <tr id="@itemCart.Id" data-value="@itemCart">
                                                    <td class="image text-center"><a class="product-image" title="@itemCart.Name" asp-controller="DetailProducts" asp-action="Index" asp-route-id="@itemCart.Id"><img alt="Máy Nước Nóng Ferroli Divo SSN 4.5S (BM01) 4.5 kW" src="@itemCart.Image"></a></td>
                                                    <td class="text-left">
                                                        <h2 class="product-name"> <a asp-controller="DetailProducts" asp-action="Index" asp-route-id="@itemCart.Id">@itemCart.Name</a> </h2>
                                                        <span class="variant-title" style="display: none">Default Title</span><br>
                                                        <a class="button remove-item" title="Xóa" asp-controller="Card" asp-action="DeleteCart" asp-route-id="@itemCart.Id"><i class="fa fa-trash" aria-hidden="true"></i> <span>Xóa sản phẩm</span></a>
                                                    </td>
                                                    <td class="a-right hidden-xs text-center"><span class="cart-price"> <span class="price" id="price">@(itemCart.Price.ToString("n0")) đ</span> </span></td>
                                                    <td class="text-center tdQty">
                                                        <div class="groupQty">
                                                            <button type="button" class="qtyControl minus">-</button>
                                                            <input type="number" maxlength="12" min="1" class="input-text qty" title="Số lượng" size="4" value="@itemCart.Quantity" name="Lines" id="item-count-@itemCart.Id">
                                                            <button type="button" class="qtyControl plus">+</button>
                                                        </div>
                                                    </td>
                                                    <td class="text-center hidden-xs"><span class="cart-price"> <span class="totalPrice" id="totalPrice">@(itemCart.Price.ToString("n0")) đ</span> </span></td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr class="first last">
                                                <td class="a-right last" colspan="7">
                                                    <a class="button btn-continue" title="Tiếp tục mua hàng" type="button" asp-controller="Products" asp-action="Index" asp-route-idProduct="-1"><span><span>Tiếp tục mua hàng</span></span></a>
                                                    <input type="submit" name="update" value="Cập nhật số lượng " class="btn-update button" />
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 colCart right">
                                <div class="totals">
                                    <div class="inner">
                                        <table class="table shopping-cart-table-total" id="shopping-cart-totals-table">
                                            <tfoot>
                                                <tr>
                                                    <td colspan="1" class="a-left"><strong>Tổng tiền</strong></td>
                                                    <td class="a-right text-right"><strong><span id="totalPriceOrder" class="price"></span></strong></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <ul class="checkout">
                                            <li>
                                                @if (ViewData["UserName"] != null)
                                                {
                                                    <button class="button btn-proceed-checkout" title="Tiến hành thanh toán" type="button" onclick="showRecoverPayment();return false;"><span>Tiến hành thanh toán</span></button>
                                                }
                                                else
                                                {
                                                    <button class="button btn-proceed-checkout" title="Đăng nhập để thanh toán" type="button"><span>Đăng nhập để thanh toán</span></button>

                                                }
                                            </li>
                                        </ul>
                                        <div class="pd_saler">
                                            <h3>Dịch vụ & Khuyến mãi</h3>
                                            <p>
                                                Nhập mã 2V6WSHFW khi thanh toán, giảm ngay 100.000đ.
                                            </p>
                                            <p>
                                                Tặng mã coupon giảm 300.000đ khi đơn hàng trên 5 triệu đồng.
                                            </p>
                                            <p>
                                                Giao hàng miễn phí đối với đơn hàng trên 5 triệu trong nội thành Tp. Hồ Chí Minh
                                            </p>
                                            <p>
                                                Giảm ngay 20% đối với những sản phẩm thuộc nhóm Ghế sofa
                                            </p>
                                        </div>
                                    </div>
                                    <!--inner-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="infopayment" style="display:none;" class="userbox">
                        <div class="">
                            <form accept-charset='UTF-8' asp-action="Payment" method='post'>
                                <input name='utf8' type='hidden' value='true' />
                                <div class="col_full">
                                    <span class="not-null">*</span>
                                    <input required type="text" title="Số điện thoại" asp-for="Phone" placeholder="Số điện thoại" class="form-control" />
                                </div>
                                <div class="col_full">
                                    <span class="not-null">*</span>
                                    <input required type="text" title="Người nhận" asp-for="Name" placeholder="Người nhận" class="form-control" />
                                </div>
                                <div class="col_full">
                                    <span class="not-null">*</span>
                                    <input required type="text" title="Địa chỉ nhận hàng" asp-for="Address" placeholder="Địa chỉ nhận hàng" value="" class="form-control" />
                                </div>
                                <div class="col_full">
                                    <span class="not-null">*</span>
                                    <input required type="text" title="Ghi chú" asp-for="Note" placeholder="Ghi chú" value="" class="form-control" />
                                </div>
                                <p>Sản phẩm sẽ thanh toán khi khách hàng nhận được hàng hoá.</p>
                                <div class="col_full nobottommargin text-center">
                                    <button class="button button-3d button-black nomargin" type="submit">Đặt hàng</button>
                                    <button class="button button-3d button-red nomargin cancel" onclick="hideRecoverPayment(); return false;" name="">Hủy</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        //0357233798 - Toan
        //0378689351 - Lien        $(document).ready(function () {
            updatePrice();
            $('.groupQty .qtyControl').click(function () {
                var check = $(this).hasClass('minus'),
                    val = parseInt($(this).parent().find('input').val());
                var price = $(this).parent().parent().parent().find('td span.cart-price span.price').html().replace(" đ", "").replace(",", "");
                if (check) {
                    if (val > 1) {
                        val = val - 1;
                        $(this).parent().find('input').attr('value', val);
                    }
                } else {
                    val = val + 1;
                    $(this).parent().find('input').attr('value', val);
                }
                var newPrice = parseFloat(price) * parseInt(val);
                const formatter = new Intl.NumberFormat('it-IT', {
                    style: 'currency',
                    currency: 'VND',
                    minimumFractionDigits: 0
                })
                $(this).parent().parent().parent().find('td span.cart-price span.totalPrice').text(formatter.format(newPrice));
                updatePrice();
            })
            $('.btn-update').click(function () {
                // push data to backend
                var _data = updatePrice();
                console.log(_data);
                $.post("/Card/UpdateToCart", { data: _data},
                    function (data) {
                        // Successful requests get here

                        alert("Cập nhật giỏ hàng thành công !");
                    });
            })
        });
        function updatePrice() {
            let tblRow = $('#shopping-cart-table tbody tr');
            let result = [];
            let totalMoney = 0;
            let n = tblRow.length;
            const formatter = new Intl.NumberFormat('it-IT', {
                style: 'currency',
                currency: 'VND',
                minimumFractionDigits: 0
            })
            for (let i = 0; i < n; i++) {
                let productName = $(tblRow[i]).find('td h2.product-name a').html();
                var price = $(tblRow[i]).find('td span.cart-price span.price').html().replace(" đ", "").replace(",", "");
                let numb = $(tblRow[i]).find('td .groupQty input').val();
                var newPrice = parseFloat(price) * parseInt(numb);
                let idProducts = $(tblRow[i]).attr('id');
                totalMoney += newPrice;
                $(tblRow[i]).find('td span.cart-price span.totalPrice').text(formatter.format(newPrice));
                result.push(
                    {
                        ProductId: idProducts,
                        Quantity: numb
                    }
                );
            }
            $('#totalPriceOrder').text(formatter.format(totalMoney));
            return result;
        }

        function showRecoverPayment() {
            document.getElementById('infopayment').style.display = 'block';
            document.getElementById('detailProduct').style.display = 'none';
        }

        function hideRecoverPayment() {
            document.getElementById('infopayment').style.display = 'none';
            document.getElementById('detailProduct').style.display = 'block';
        }


    </script>
</div>