﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StoreOnlineV1</title>

    <script src='~/js/jquery.v2.1.3.js' type='text/javascript'></script>
    <script src='~/js/jquery-migrate-1.2.0.js' type='text/javascript'></script>
    <link href='~/css/bootstrap.css' rel='stylesheet' type='text/css' />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-I6JCnqxMbC2DuiHjsoCiLa15NVbKRf8/ooANRLsXD87zD2dVqzlz6Oqjvj470ztk" crossorigin="anonymous">
    <link href='~/css/owl-carousel.css' rel='stylesheet' type='text/css' />
    <link href='~/css/styles.css' rel='stylesheet' type='text/css' />
    <link href='~/css/responsive.css' rel='stylesheet' type='text/css' />

</head>
<body>
    <header id="header_chir" class="bg_w">
        <section id="chir_top_bar" class="hidden-xs hidden-sm">
            <div class="main">
                <div class="container">
                    <ul>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> <span>Số 288, Dương Đình Hội, P. Tăng Nhơn Phú B, Quận 9 - TP Hồ Chí Minh</span></li>
                        <li><a href="mailto:inspire.itdev@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> inspire.itdev@gmail.com</a></li>
                        <li><a href="tel:01662465188"><i class="fa fa-mobile" aria-hidden="true"></i> 01662 465 188</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="main_header">
            <div class="container">
                <div class="row">
                    <div id="chir_logo" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="tool_bar_menu visible-xs visible-sm">
                            <a href="javascript:void(0)">
                                <span class="open-menu"></span>
                            </a>
                        </div>
                        <div class="tool_bar_user visible-xs visible-sm">
                            <a asp-area="" asp-controller="Card" asp-action="Index" title="Giỏ hàng" class="cart_mobile">
                                <span class="cart-control control-4">
                                </span>
                                <span id="count_Cart_mobile" class="header-cart-count CartCount">@ViewData["cart"]</span>

                            </a>
                            <div class="site_user_xs relative">
                                <span class="open-user">
                                    <div class="div-user-control control-2">
                                    </div>
                                </span>
                                <div class="box_user_xs">
                                    <ul class="dropdown-menu info-user user-xs" aria-labelledby="dLabel">
                                        <li class="info"><a asp-controller="Acount" asp-action="Login" class="login"><i class="fa fa-sign-in" aria-hidden="true"></i> Đăng nhập</a></li>
                                        <li class="info"><a asp-controller="Acount" asp-action="Register"><i class="fa fa-registered" aria-hidden="true"></i> Đăng ký</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <p>
                            <a href="/"><img src="images/logo.png" /></a>
                        </p>
                        <h1 class="hide">
                            Super store
                        </h1>
                    </div>
                    <div id="chir_search_head" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="chir_frm">
                            <form id="frm_search_head" asp-controller="Products" asp-action="Index">
                                <i class="fa fa-search"></i>
                                <input required type="text" name="query" placeholder="Tìm kiếm..." />
                                <button type="submit" class="chir_btn_sub">
                                    Tìm kiếm
                                </button>
                            </form>
                        </div>
                        <ul class="chir_autocomplete">
                            <li class="title"><strong>Gợi ý từ khóa: </strong></li>
                            <li><span>Kính thời trang nam,Kính thời trang nữ, Gọng kính, Kính cận...</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 hidden-sm hidden-xs fr scroll-down2">
                        <div class="control-box">
                            <ul class="ul-control-box">
                                <li class="top-cart-block">
                                    <a asp-area="" asp-controller="Card" asp-action="Index" title="Giỏ hàng" class="cart_mobile">
                                        <span class="div-user-control control-4" id="cartItemsCount">
                                        </span>
                                        <span class="info">Giỏ hàng</span>
                                        <span id="count_Cart" class="header-cart-count CartCount">@ViewData["cart"]</span>
                                    </a>
                                </li>
                                <li class="dropdown" id="segment_user_do_login">
                                    <a class="info" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <div class="div-user-control control-2">
                                        </div>
                                        @if (ViewData["UserName"] == null)
                                        {
                                            <span> Tài khoản </span>
                                        }
                                        else
                                        {
                                            <span> @ViewData["UserName"] </span>
                                        }

                                    </a>
                                    <ul class="dropdown-menu info-user" aria-labelledby="dLabel">
                                        @if (ViewData["UserName"] == null)
                                        {

                                            <li class="info"><a asp-controller="Acount" asp-action="Login" class="login"><i class="fa fa-sign-in" aria-hidden="true"></i> Đăng nhập</a></li>
                                            <li class="info"><a asp-controller="Acount" asp-action="Register"><i class="fa fa-registered" aria-hidden="true"></i> Đăng ký</a></li>

                                        }
                                        else
                                        {
                                            <li class="info"><a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fa fa-registered" aria-hidden="true"></i> Trang quản trị</a></li>
                                            <li class="info"><a asp-controller="Acount" asp-action="Logout"><i class="fa fa-registered" aria-hidden="true"></i> Đăng xuất</a></li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <nav id="chir_main_menu" class="hidden-sm hidden-xs">
        <div class="main">
            <div class="container">
                <div class="navar_menu">
                    <ul class="nav-navbar clearfix">
                        <li class="">
                            <a href="/" class=" current" title="Trang chủ">
                                Trang chủ
                                <span class="label_icon no_label"></span>
                            </a>
                        </li>
                        <li class="">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" title="Sản phẩm" asp-action="Index">
                                Sản phẩm
                                <span class="label_icon no_label"></span>
                            </a>
                        </li>
                        <li class="">
                            <a asp-area="" asp-controller="About" asp-action="Index" title="Giới thiệu">
                                Giới thiệu
                                <span class="label_icon no_label"></span>
                            </a>
                        </li>
                        <li class="">
                            <a asp-area="" asp-controller="Contact" asp-action="Index" title="Liên hệ">
                                Liên hệ
                                <span class="label_icon no_label"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    @RenderBody()
    <footer id="footer_chir">
        <section id="footer_promotion" class="bg_w">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6 item_policy">
                        <div class="info_policy clearfix">
                            <span class="name-icon pull-left fa fa-truck"></span>
                            <div class="description pull-left">
                                <h4>MIỄN PHÍ VẬN CHUYỂN</h4>
                                <p>Cho đơn hàng trên 500k</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 item_policy">
                        <div class="info_policy clearfix">
                            <span class="name-icon pull-left fa fa-money"></span>
                            <div class="description pull-left">
                                <h4>CAM KẾT CHÍNH HÃNG</h4>
                                <p>Đảm bảo chất lượng 100%</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 item_policy">
                        <div class="info_policy clearfix">
                            <span class="name-icon pull-left fa fa-smile-o"></span>
                            <div class="description pull-left">
                                <h4>HỖ TRỢ TƯ VẤN</h4>
                                <p>Thứ 2-Thứ 7 : 08g30 - 17g30</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 item_policy">
                        <div class="info_policy clearfix">
                            <span class="name-icon pull-left fa fa-phone"></span>
                            <div class="description pull-left">
                                <h4>01662 465 188</h4>
                                <p>Đặt hàng ngay</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="footer_main">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 footer-left">
                        <div class="fi-about-block grid__item footer-new">
                            <div class="fi-title1 insScroll"><a href=""><img class="insImageload" src="images/logo_ft.png" alt="" itemprop="logo"></a></div>
                            <div class="fi-content" style="text-align:justify;">
                                Super Store là chuyên cung cấp các sản phẩm chính hãng với đầy đủ các loại sản phẩm từ thời trang cho đến đồ dùng gia đình, đồ dùng cá nhân, mẹ và bé, nội thất... Với các thương hiệu nổi tiếng được nhập khẩu từ nhiều nước trên thế giới.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12 footer-right">
                        <div class="col-md-3 col-sm-6 col-xs-6 newfooter">
                            <div class="fi-title">Về chúng tôi</div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6 newfooter">
                            <div class="fi-title">Hướng dẫn</div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6 newfooter">
                            <div class="fi-title">Thông tin</div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6 newfooter">
                            <div class="fi-title">Chính sách</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="footer_bottom" class="bg_w">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="bot-ft clearfix insScroll">
                            <div class="logo-ft-1 hidden-xs hidden-sm">
                                <a href="/" title="Bộ công thương">
                                    <img class="insImageload" data-load="true" src="images/dtb.png">
                                </a>
                            </div>
                            <div class="copy">
                                <p>
                                    Công ty TMDV Super store
                                    <br>
                                    Template bán hàng đẹp, nhiều tính năng, khả năng Responsive thân thiện với người dùng. Tương thích với mọi thiết bị di động.
                                    <br>
                                    Địa chỉ: Số 288, Dương Đình Hội, P. Tăng Nhơn Phú B, Quận 9 - TP Hồ Chí Minh
                                    <br>
                                    ĐT: <a href="tel:01662465188">01662 465 188</a>
                                    <br>
                                    Email: <a href="mailto:inspire.itdev@gmail.com">inspire.itdev@gmail.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 hidden-xs hidden-sm ft_payment">
                        <div class="fi-title">Thanh toán</div>
                        <div class="fi-content insScroll">
                            <img class="insImageload" data-load="true" src="images/payment.png" alt="Các phương thức thanh toán" />
                        </div>
                    </div>
                    <p class="col-sm-12 col-xs-12 cpr">
                        &copy; Bản quyền thuộc về Inspired theme | Cung cấp bởi <a rel="nofollow" href="https://www.sapo.vn/" title="Sapo" target="_blank">Sapo</a>.
                    </p>
                </div>
            </div>
        </section>
    </footer>
    <script>$('ul.nav-navbar li').on('click', function () {
            $(this).parent().find('li.active').removeClass('active');
            $(this).addClass('active');
        });
        var p_select_data = $('.p-option-wrapper').html();
        var p_zoom = $('.image-zoom').html();
        var quickViewProduct = function (purl) {
            if ($(window).width() < 680) { window.location = purl; return false; }
            modal = $('#quick-view-modal'); modal.modal('show');
            //$('.modal-backdrop').css('opacity', '0');
            return false;
        }
        $('#quick-view-modal ').on('click', '.product-thumb img', function (event) {
            event.preventDefault();
            modal = $('#quick-view-modal');
            modal.find('.p-product-image-feature').attr('src', $(this).attr('data-zoom-image'));
            modal.find('.product-thumb').removeClass('active');
            $(this).parents('li').addClass('active');
            return false;
        })
        $(document).on('click', 'a.btn-quickview-1', function (event) {
            //console.log('abc')
            event.preventDefault();
            quickViewProduct($(this).attr('data-alias'));
        })</script>
    <div class="modal fade" id="addCartModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title " id=""><i class="fa fa-check-square-o" aria-hidden="true"></i> Thêm vào giỏ thành công</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4 col-xs-5 imgCartItem">
                        </div>
                        <div class="col-sm-8 col-xs-7 imgCartDetail">
                            <h3 class="itemCartTile"></h3>
                            <div class="itemCartPrice"></div>
                            <span class="itemCartQty"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close continueShopping" data-dismiss="modal" aria-label="Close">Tiếp tục mua sắm</button>
                    <button type="button" class="close viewCartPage" onclick="window.location = '/cart'">Xem giỏ hàng</button>
                </div>
            </div>
        </div>
    </div>
    <script src='~/js/bootstrap.js' type='text/javascript'></script>
    <script src='~/js/fast-click.js' type='text/javascript'></script>
    <script src='~/js/bizweb-api.js' type='text/javascript'></script>
    <script src='~/js/bizweb-selection.js' type='text/javascript'></script>
    <script src='~/js/owl-carousel.js' type='text/javascript'></script>
    <script src='~/js/countdown.js' type='text/javascript'></script>
    <script src='~/js/scripts.js' type='text/javascript'></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
