@model StoreOnlineV1.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết đơn hàng</h1>

<div>
    <h4>Thông tin</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Mã Người dùng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID_User)
        </dd>
        <dt class="col-sm-2">
            Tổng tiền
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Money)
        </dd>
        <dt class="col-sm-2">
            Ghi chú
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class="col-sm-2">
            Trạng thái
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            Ngày đặt
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>
    <h4>Thông tin</h4>
    <hr />
    <dl class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Mã sản phẩm
                    </th>
                    <th>
                        Sản phẩm
                    </th>
                    <th>
                        Giá
                    </th>
                    <th>
                        Số lượng
                    </th>
                    <th>
                        Giảm giá
                    </th>
                    <th>
                        Thành tiền
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.allDetail)
                {
                <tr>
                    <td>
                        @item.Code
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @item.Sale %
                    </td>
                    <td>
                        @item.Total
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
