﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="chir_main">
    <section id="chir_seller">
        <div class="container">
            <div class="main">
                <div class="title_chir">
                    <h2>
                        Sản phẩm khuyến mãi
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 product">
                        <div class="home_product_list bg_w">
                            <ul class="owl_design owl_product_list">
                                @foreach (var itemProduct in ViewBag.ListProducts)
                                {
                                    <li class="item_product">
                                        <div class="chir_loop loop_item insScroll">
                                            <div class="chir-img">
                                                @if (itemProduct.Quantity != null && itemProduct.Quantity > 0)
                                                {
                                                    if (itemProduct.Discount != null && itemProduct.Discount > 0)
                                                    {
                                                        <div class="sale">
                                                            Giảm @itemProduct.Discount%
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="sold">
                                                        Hết hàng
                                                    </div>
                                                    if (itemProduct.Discount != null && itemProduct.Discount > 0)
                                                    {
                                                        <div class="sale">
                                                            Giảm @itemProduct.Discount%
                                                        </div>
                                                    }
                                                }
                                                <a asp-controller="DetailProducts" asp-action="Index" asp-route-idProduct="@itemProduct.Id" title="">
                                                    <picture>
                                                        <img srcset="@itemProduct.Image" style="height:200px" alt="">
                                                    </picture>
                                                </a>
                                                <div class="chi-action">
                                                    <a asp-controller="DetailProducts" asp-action="Index" asp-route-idProduct="@itemProduct.Id" class="view_product"><img src="images/eye_w.png" alt="Xem chi tiết" title="Xem chi tiết" /></a>
                                                    @if (itemProduct.Quantity != null && itemProduct.Quantity > 0)
                                                    {
                                                        <a asp-controller="Card" asp-action="AddToCart" asp-route-productid="@itemProduct.Id" class="add-cart design_cart Addcart"><img src="images/cart_w.png" alt="Thêm vào giỏ" title="Thêm vào giỏ" /></a>
                                                    }
                                                </div>
                                            </div>
                                            <div class="product-detail clearfix">
                                                <h3 class="pro-name"><a asp-controller="DetailProducts" asp-action="Index" asp-route-idProduct="@itemProduct.Id" title="@itemProduct.Name">@itemProduct.Name</a></h3>
                                                <p class="pro-price">
                                                    @((Convert.ToDecimal(itemProduct.PromotionPrice) - (Convert.ToDecimal(itemProduct.PromotionPrice) * (Convert.ToDecimal(itemProduct.Discount)/100))).ToString("n0")) VND
                                                    @if (itemProduct.Discount != null && itemProduct.Discount > 0)
                                                    {
                                                        <del class="compare-price"> @(itemProduct.PromotionPrice.ToString("n0")) VND</del>
                                                    }
                                                </p>
                                                <div class="product_view_list">
                                                    <ul>
                                                        <li>Mã sản phẩm: <span>@itemProduct.Code</span></li>
                                                        <li>
                                                            Mô tả ngắn:
                                                            <span class="short-des">
                                                                @itemProduct.Desciption
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="chir_seller">
        <div class="container">
            <div class="main" style="margin-top: 20px">
                <div class="title_chir">
                    <h2>
                        Sản phẩm nổi bật
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 product">
                        <div class="home_product_list bg_w">
                            <ul class="owl_design owl_product_list">
                                @foreach (var itemProduct in ViewBag.AllProducts)
                                {
                                    <li class="item_product">
                                        <div class="chir_loop loop_item insScroll">
                                            <div class="chir-img">
                                                @if (itemProduct.Quantity != null && itemProduct.Quantity > 0)
                                                {
                                                    if (itemProduct.Discount != null && itemProduct.Discount > 0)
                                                    {
                                                        <div class="sale">
                                                            Giảm @itemProduct.Discount%
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="sold">
                                                        Hết hàng
                                                    </div>
                                                    if (itemProduct.Discount != null && itemProduct.Discount > 0)
                                                    {
                                                        <div class="sale">
                                                            Giảm @itemProduct.Discount%
                                                        </div>
                                                    }
                                                }
                                                <a asp-controller="DetailProducts" asp-action="Index" asp-route-idProduct="@itemProduct.Id" title="">
                                                    <picture>
                                                        <img srcset="@itemProduct.Image" style="height:200px" alt="">
                                                    </picture>
                                                </a>
                                                <div class="chi-action">
                                                    <a asp-controller="DetailProducts" asp-action="Index" asp-route-idProduct="@itemProduct.Id" class="view_product"><img src="images/eye_w.png" alt="Xem chi tiết" title="Xem chi tiết" /></a>
                                                    @if (itemProduct.Quantity != null && itemProduct.Quantity > 0)
                                                    {
                                                        <a asp-controller="Card" asp-action="AddToCart" asp-route-productid="@itemProduct.Id" class="add-cart design_cart Addcart"><img src="images/cart_w.png" alt="Thêm vào giỏ" title="Thêm vào giỏ" /></a>
                                                    }
                                                </div>
                                            </div>
                                            <div class="product-detail clearfix">
                                                <h3 class="pro-name"><a asp-controller="DetailProducts" asp-action="Index" asp-route-idProduct="@itemProduct.Id" title="@itemProduct.Name">@itemProduct.Name</a></h3>
                                                <p class="pro-price">
                                                    @((Convert.ToDecimal(itemProduct.PromotionPrice) - (Convert.ToDecimal(itemProduct.PromotionPrice) * (Convert.ToDecimal(itemProduct.Discount)/100))).ToString("n0")) VND
                                                    @if (itemProduct.Discount != null && itemProduct.Discount > 0)
                                                    {
                                                        <del class="compare-price"> @(itemProduct.PromotionPrice.ToString("n0")) VND</del>
                                                    }
                                                </p>
                                                <div class="product_view_list">
                                                    <ul>
                                                        <li>Mã sản phẩm: <span>@itemProduct.Code</span></li>
                                                        <li>
                                                            Mô tả ngắn:
                                                            <span class="short-des">
                                                                @itemProduct.Desciption
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="home_block_2" class="home_block">
        <div class="container">
            <div class="main">
                <div class="title_chir">
                    <h2>
                        Thương hiệu mới
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-12 banner_brand hidden-sm hidden-xs">
                        <div class="brands text-center bg_w">
                            <ul class="list clearfix">
                                @foreach (var trademark in ViewBag.allTrademark)
                                {
                                    <li>
                                        <div class="effect_item insScroll">
                                            <a href="/thoi-trang">
                                                <img class="insImageload" alt="" src="@trademark.Image">
                                                <p>
                                                    @trademark.Name
                                                </p>
                                            </a>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="imgage_hover hidden-sm insScroll">
                            <a href="/"><img class="insImageload" src="images/banner_kinhmat.jpg"></a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12 product_in_block">
                        <div class="block_product_list bg_w">
                            <div class="product_tabs">
                                <div class="visible-xs open_tabs">
                                    <a href="javascript:void(0);"><img src="images/bars_right.png" alt="Open tabs"></a>
                                </div>
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs text-right" role="tablist">
                                    <li role="presentation" class="active"><a href="#chir-2-tab-1" aria-controls="chir-tab-1" role="tab" data-toggle="tab">Thương hiệu mới</a></li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade  in active" id="chir-2-tab-1">
                                        <div class="product_tabs_slide owl_design clearfix product_tabs_slide_first">
                                            @if (ViewBag.allProductByTrademark != null)
                                            {
                                                @foreach (var itemProducts in ViewBag.allProductByTrademark)
                                                {
                                                    <ul class="item">
                                                        <li class="item_product tab_item">
                                                            <div class="chir_loop loop_item insScroll">
                                                                <div class="chir-img">
                                                                    @if (itemProducts.Quantity != null && itemProducts.Quantity > 0)
                                                                    {
                                                                        if (itemProducts.Discount != null && itemProducts.Discount > 0)
                                                                        {
                                                                            <div class="sale">
                                                                                Giảm @itemProducts.Discount%
                                                                            </div>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="sold">
                                                                            Hết hàng
                                                                        </div>
                                                                        if (itemProducts.Discount != null && itemProducts.Discount > 0)
                                                                        {
                                                                            <div class="sale">
                                                                                Giảm @itemProducts.Discount%
                                                                            </div>
                                                                        }
                                                                    }
                                                                    <a asp-controller="DetailProducts" asp-action="Index" asp-route-idProduct="@itemProducts.Id" title="">
                                                                        <picture>
                                                                            <img srcset="@itemProducts.Image" style="height:200px" alt="">
                                                                        </picture>
                                                                    </a>
                                                                    <div class="chi-action">
                                                                        <a asp-controller="DetailProducts" asp-action="Index" asp-route-idProduct="@itemProducts.Id" class="view_product"><img src="images/eye_w.png" alt="Xem chi tiết" title="Xem chi tiết" /></a>
                                                                        @if (itemProducts.Quantity != null && itemProducts.Quantity > 0)
                                                                        {
                                                                            <a asp-controller="Card" asp-action="AddToCart" asp-route-productid="@itemProducts.Id" class="add-cart design_cart Addcart"><img src="images/cart_w.png" alt="Thêm vào giỏ" title="Thêm vào giỏ" /></a>
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="product-detail clearfix">
                                                                    <h3 class="pro-name"><a asp-controller="DetailProducts" asp-action="Index" asp-route-idProduct="@itemProducts.Id" title="@itemProducts.Name">@itemProducts.Name </a></h3>
                                                                    <p class="pro-price">
                                                                        @((Convert.ToDecimal(itemProducts.PromotionPrice) - (Convert.ToDecimal(itemProducts.PromotionPrice) * (Convert.ToDecimal(itemProducts.Discount)/100))).ToString("n0")) VND
                                                                        <del class="compare-price"> @(itemProducts.PromotionPrice.ToString("n0")) VND</del>
                                                                    </p>
                                                                    <div class="product_view_list">
                                                                        <ul>
                                                                            <li><strong>Mã sản phẩm: </strong><span>@itemProducts.Code</span></li>
                                                                            <li><strong>Thương hiệu: </strong><span>@itemProducts.TrademarkID</span></li>
                                                                            <li>
                                                                                <strong>Mô tả ngắn: </strong>
                                                                                <span class="short-des">
                                                                                    @itemProducts.Desciption
                                                                                </span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                }
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="home_block_blog" class="home_block">
        <div class="container">
            <div class="main">
                <div class="title_chir">
                    <h2>
                        Tin tức nổi bật
                    </h2>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-xs-12 product_in_block">
                        <div class="block_deal_list">
                            <ul class="blogs_home_slide owl_design">
                                @foreach (var itemPost in ViewBag.allPost)
                                {
                                    <li class="article_item">
                                        <div class="single_blog_post_box">
                                            <div class="blog_post_photo imgage_hover insScroll">
                                                <a href="/" title="@itemPost.Name">
                                                    <img class="insImageload" src="@itemPost.Image" style="height:200px">
                                                </a>
                                            </div>
                                            <div class="blog_post_txt">
                                                <div class="blog_post_heading">
                                                    <h3><a href="/" title="@itemPost.Name">@itemPost.Name</a></h3>
                                                    <p>Đăng bởi: @itemPost.CreateBy</p>
                                                </div>
                                                <div class="blog_post_content">
                                                    @if (itemPost.Description.Length > 100)
                                                    {
                                                        @Html.Raw(@itemPost.Description.Substring(0, 100))
                                                    }
                                                    else
                                                    {
                                                        @Html.Raw(@itemPost.Description)
                                                    }

                                                    <ul>
                                                        <li><i class="fa fa-comments-o" aria-hidden="true"></i> 2 Bình luận</li>
                                                        <li><i class="fa fa-calendar" aria-hidden="true"></i> @itemPost.CreateDate</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
