@model IEnumerable<StoreOnlineV1.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<!-- page content -->
<p>
    <a asp-action="Create"> Thêm mới</a>
</p>
<div role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 class="text-success">Danh sách danh mục </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreateDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreateBy)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ModifiedDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ModifiedBy)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ShowOnHome)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreateDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreateBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ModifiedDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ModifiedBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ShowOnHome)
                                        </td>

                                         <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-xs">Edit</a>  
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-xs">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
