﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Quản trị Website </title>
    <meta charset="utf-8" />

    <link href="~/assets/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/admin/css/custom.min.css" rel="stylesheet" />

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/admin/css/nprogress.css" rel="stylesheet" />
    <link href="~/assets/admin/css/animate.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a asp-action="Index" asp-controller="Home" asp-area="Admin" class="site_title"><i class="fa fa-paw"></i> <span>Quản trị Website</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <!-- get avatar user -->
                            <img src="~/assets/admin/pic/logotron.png" alt="..." class="img-circle profile_img" />
                        </div>
                        <div class="profile_info">
                            <span>Xin chào,</span>
                            <h2>@ViewData["UserName"]</h2>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Quản trị danh mục</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a asp-action="Index" asp-controller="Home" asp-area=""><i class="fa fa-home"></i> Trang chủ </a>
                                </li>
                                <li>
                                    <a asp-action="Index" asp-controller="Orders" asp-area="Admin">
                                        <i class="fa fa-desktop"></i>
                                        <span style="margin-left:3px;">Quản trị đơn hàng</span>
                                    </a>
                                </li>
                                <li>
                                    <a><i class="fa fa-table"></i> Quản trị sản phẩm <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a asp-action="Index" asp-controller="Trademark" asp-area="Admin">
                                                <span style="margin-left:3px;">Thương hiệu</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="ProductCategories" asp-area="Admin">
                                                <span style="margin-left:3px;">Loại sản phẩm</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="Products" asp-area="Admin">
                                                <span style="margin-left:3px;">Sản phẩm</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a asp-action="Index" asp-controller="Posts" asp-area="Admin">
                                        <i class="fa fa-table"></i>
                                        <span style="margin-left:3px;">Quản lý bài viết</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="Index" asp-controller="Imports" asp-area="Admin">
                                        <i class="fa fa-balance-scale"></i>
                                        <span style="margin-left:3px;">Quản lý Kho hàng</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="Index" asp-controller="Home" asp-area="Admin"><i class="fa fa-bar-chart"></i> Thống kê </a>
                                </li>

                            </ul>
                        </div>
                        <div class="menu_section">
                            <h3>Quản trị thông tin chung</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-bug"></i> Hệ thống <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a asp-action="Index" asp-controller="Categories" asp-area="Admin">
                                                <span style="margin-left:3px;">Danh mục</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="Feedbacks" asp-area="Admin">
                                                <span style="margin-left:3px;">Phản hồi</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="Introduces" asp-area="Admin">
                                                <span style="margin-left:3px;">Giới thiệu - Liên hệ</span>
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-sitemap"></i> Tài khoản <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a asp-action="Create" asp-controller="Users" asp-area="Admin">
                                                <span style="margin-left:3px;">Thêm tài khoản</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="Users" asp-area="Admin">
                                                <span style="margin-left:3px;">Danh sách tài khoản</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>

                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- page content -->
            <div class="right_col" role="main">

                @RenderBody()

            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Bản quyền thuộc về: Vũ Trọng Đức - Khoa CNTT đại học Mỏ Địa Chất --- <a href="https://www.facebook.com/ducboohn"> Thông tin</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>


    <!-- jQuery -->

    <script src="~/assets/admin/js/jquery.min.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/assets/admin/js/plugin/ckfinder/ckfinder.js"></script>
    <script src="~/assets/admin/js/plugin/ckeditor/ckeditor.js"></script>
    <script src="~/assets/admin/js/plugin/ckeditor/adapters/jquery.js"></script>

    <!-- Bootstrap -->

    <script src="~/assets/admin/js/bootstrap.min.js"></script>
    <!-- FastClick -->

    <script src="~/assets/admin/js/fastclick.js"></script>
    <!-- NProgress -->

    <script src="~/assets/admin/js/nprogress.js"></script>


    <!-- Custom Theme Scripts -->

    <script src="~/assets/admin/js/custom.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
