@model StoreOnlineV1.Models.Import

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Import</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdProduct" />
            <input type="hidden" asp-for="CreateDate" />
            <input type="hidden" asp-for="CreateBy" />
            <div class="form-group ">
                <label class="control-label">Tên sản phẩm</label>
                <select class="custom-select mr-sm-2 form-control" asp-for="IdProduct" asp-items="ViewBag.ListProduct" disabled></select>
                <span asp-validation-for="IdProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Số lượng</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Thành tiền</label>
                <input asp-for="TotalMoney" class="form-control" />
                <span asp-validation-for="TotalMoney" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
