﻿@{
    ViewData["Title"] = "About page";
}

<div class="chir_main">
    <style>
        .heading-article {
            margin-bottom: 5px;
        }

        .content-page * {
            line-height: 1.3;
        }

        .content-page {
            padding-bottom: 40px;
        }
    </style>
    <div id="mango-pages">
        <div class="content-push">
            <div class="breadcrumb-box">
                <div class="container">
                    <div class="row">
                        <style>
                            .chir_breadcrumb ul li {
                                display: inline-block;
                                padding: 10px 0px;
                            }

                                .chir_breadcrumb ul li strong {
                                    font-family: 'brandon_textregular' !important;
                                }
                        </style>
                        <div class="chir_breadcrumb  hidden-xs">
                            <div class="container">
                                <ul itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                                    <li class="home"> <a itemprop="url" title="Quay lại trang chủ" href="/"><span itemprop="title">Trang chủ</span></a><span>&mdash;&rsaquo;</span></li>
                                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><strong itemprop="title">Giới thiệu</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-8 col-xs-12 information-entry">
                        <div class="insCtMain">
                            <div class="information-blocks main_article bg_w">
                                <div class="heading-article">
                                    <h1 class="title">Giới thiệu</h1>
                                </div>
                                <div class="content-page">
                                    @Html.Raw(@ViewData["content_about"]);
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 hidden-xs ba_sidebar">
                        <aside>
                            <div class="right_sidebar">
                                <div class="all_right_widgets">
                                    <div class="sing_right_widget">
                                        <h2>Danh mục sản phẩm</h2>
                                        <div class="sing_right_widg_content">
                                            <ul class="category_right">
                                                <li class=""><a asp-controller="Products" asp-action="Index"><i class="fa fa-angle-right"></i>Tất cả sản phẩm</a></li>
                                                @foreach (var itemCategory in ViewBag.allCategory)
                                                {
                                                    <li class="">
                                                        <a asp-controller="Products" asp-action="Index" asp-route-idCategory="@itemCategory.Id" title="@itemCategory.Name" target="_self">
                                                            <i class="fa fa-angle-right"></i>@itemCategory.Name
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>